uvid/*.y4m
uvid/*.o
uvid/debug*
uvid/input
uvid/*.i
uvid/uvid_compress
uvid/uvid_compress.o
uvid/uvid_decompress
uvid/.vscode/*
*.tar.gz

test_files/*
!test_files/place_test_files_here.txt
submission/*

*.uvi
